.goal-action-container {
    position:relative;
}
.badgeos-achievements-grid-item .goal-action {
    position:absolute; 
    top: 0; 
    right:10px; 
    z-index: 5;
}
.badgeos-achievements-list-item .goal-action {
    float: left;
}
.achievement-wrap .goal-action {
    float: left;
}
.achievement-wrap .goal-action img {
    cursor:pointer;
    margin-right: 10px;
    margin-top: 20px;
    margin-left: 10px;
    height: 70px;
    width: 70px;
}
#badgeos-achievements-container .goal-action img {
    cursor:pointer;
    height: 40px;
    width: 40px;
}
.goal-action .transparent {
    opacity: 0.5;
}
